

  <div class="user">
    <header class="user__header">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/3219/logo.svg" alt="" />
        <h1 class="user__title">Welcome To Our Space!!</h1>
    </header>
    
    <form action="/users/create" method="POST" class="form">
        <div class="form__group">
            <input type="text" name = "name" placeholder="Username" class="form__input" />
        </div>
        
        <div class="form__group">
            <input type="email" name = "email" placeholder="Email" class="form__input" />
        </div>
        
        <div class="form__group">
            <input type="password" name = "password" placeholder="Password" class="form__input" />
        </div>

        <div class="form__group">
            <input type="password" name = "confirm_password" placeholder="Re-Enter-Password" class="form__input" />
        </div>
        
        <button class="btn" type="submit">Register</button>
    </form>

        <!-- <a href="/users/auth/google">Google SignUp/SignIn</a>||
        <a href="/users/auth/facebook">Facebook SignUp/SignIn</a> -->

</div>