<!DOCTYPE html>
<html>

<head>
    <title>
        <%= locals.title %>
    </title>
</head>
<!-- Custom CSS File -->
<link href="/css/custom.css" rel="stylesheet">

<body>
    <section class="mrt">
        <form action="/user/new_user_data" method="post" enctype="multipart/form-data">
            <h1 class="colred">Register</h1>
            <div>
                <div class="inputbox">
                    <ion-icon name="fullname"></ion-icon>
                    <input type="text" id="fullname" name="fullname" autocomplete="name" required>
                    <label for="fullname">Full Name</label>
                </div>
                <div class="inputbox">
                    <ion-icon name="email"></ion-icon>
                    <input type="email" id="email" name="email" autocomplete="email" required>
                    <label for="email">Email</label>
                </div>
            </div>
            <div>
                <div class="inputbox">
                    <ion-icon name="mail-outline"></ion-icon>
                    <input type="tel" id="mob" name="mob" autocomplete="tel" pattern="[0-9]{2}[0-9]{4}[0-9]{4}"
                        required>
                    <label for="mob">Mob No.</label>
                </div>
            </div>
            <div>
                <div class="inputbox">
                    <ion-icon name="mail-outline"></ion-icon>
                    <input type="file" id="avatar" name="avatar">
                    <label for="avatar"><icon class="fa fa-user">Profile</icon></label>
                </div>
            </div>
            <div>
                <div class="inputbox">
                    <ion-icon name="lock-closed-outline"></ion-icon>
                    <input type="password" id="password" name="password" autocomplete="new-password" required>
                    <label for="password">Password</label>
                </div>
                <div class="inputbox">
                    <ion-icon name="lock-closed-outline"></ion-icon>
                    <input type="password" id="confirm_password" name="confirm_password" autocomplete="new-password"
                        required>
                    <label for="confirm_password">Confirm Password</label>
                </div>
            </div>

            <!-- <div class="forget">
                    <label for=""><input type="checkbox">Remember Me <a href="#">Forget Password</a></label>
                </div> -->
            <button>Sign Up</button>
            <div class="register">
                <p style="color: green;">If you have an account <a href="/user/sign-in">Sign In</a></p>
            </div>
        </form>
    </section>
</body>

</html>